<h2>Edit <%= resource_name.to_s.humanize %> Information</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <br>
    <%= f.label :current_password %> <i>(enter your current password to confirm your changes)</i>
    <br>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>

<br>

<h3>Modify Membership</h3>
 <p>
 <% if current_user.role == "member" %>
   <%  stripe_btn_data = {
      key: "#{ Rails.configuration.stripe[:publishable_key] }",
      description: "Blocipedia Premium Account",
      amount: Amount.premium
    } %>

   <%= form_tag charges_path do %>
     <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
       data-key="<%= stripe_btn_data[:key] %>"
       data-amount="<%= stripe_btn_data[:amount] %>"
       data-description="<%= stripe_btn_data[:description] %>" >
     </script>
   <% end %>
   <br>
 <% end %>

  <% if current_user.role == "premium" %>
    <%= button_to "Revert to Free Account", downgrade_account_path, 
        data: { confirm: "Are you sure you want to change to a free account? NOTE: All your private wikis will become public" }, 
        class: 'btn btn-info' %>
    <br>
  <% end %>
    <%= button_to "Cancel my Account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: 'btn btn-danger' %>
 </p>

<br>
<%= link_to "Back", :back %>
