 <%= form_for @wiki do |f| %>
    <div class="form-group">
       <%= f.label :title %>
       <%= f.text_field :title, class: 'form-control', placeholder: "Enter title" %>
     </div>

     <div class="form-group">
       <%= f.label :body %>
       <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki content" %>
     </div>
 
    <% if current_user.admin? || (current_user.premium? && @wiki.user == current_user) %>
      <div class="form-group">
        <%= f.label :private, class: 'checkbox' do %>
          <%= f.check_box :private %> Private wiki
        <% end %>
      </div>
    <% end %>      
     
    <%= f.submit "Save", class: 'btn btn-success' %>
 <% end %>
