<div>
   <h1>
     <%= @wiki.title %> <br>
   </h1>
   <small>
     updated <%= time_ago_in_words(@wiki.updated_at) %> ago
   </small>
 </div>
 <br>
 <div class="row">
   <div class="col-md-8">
     <p><%= @wiki.body %></p>
   </div>

    <div class="col-md-4">
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
      <% end %>
      <% if policy(@wiki).destroy? %>
        <%= link_to "Delete Wiki", [@wiki], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki page?' } %>
      <% end %>
    </div>
 </div>
