<!DOCTYPE html>
<html>
 <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

  <body>
  <div class="container">
    <ul class="nav nav-tabs" >
     <li><%= link_to "Blocipedia", root_path %></li>
     <li><%= link_to "Wikis", wikis_path %></li>
     <li><%= link_to "About", about_path %></li>

    <% if user_signed_in? %>
     <div>
       <li class="pull-right">Signed in as: <strong><%= current_user.email %></strong></li><br>
       <li class="pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
       <div><li class="pull-right">|</li></div>
       <li class="pull-right"><%= link_to "Edit profile", edit_user_registration_path %></li>
     </div>
    <% else %>
       <li class="pull-right"><%= link_to "Sign Up", new_user_registration_path %></li>
       <li class="pull-right"><%= link_to "Sign In", new_user_session_path %></li>
    <% end %>
   </ul>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

   <%= yield %>
  </div>
  </body>
</html>

